<div id="chart"></div>
<div>
	<%= text_field_tag 'v' %>
  <%= button_tag 'Add', :id=> "add"  %>
</div>
<div>
	<ul>
		<% @comp.each do |c| %>
		<li id='<%= c.id %>'>

			<span><%= c.name %></span>
			<button id='<%= c.id %>' >Delete</button>
		</li>
		<% end %>
	</ul>
</div>


<script type="text/javascript">
$(document).ready(function(){
	var ndata="";
	var fdata=[];
	var nndata="";
	var ffdata=[];
	var ll="";
	var dataAr=[];
	var nnurl="";
	var cn="";
	var j=0;
	var se="";

	$('ul').on('click','button',function(){
		se=$(this).parent().children().first().text();
		//alert(se)

		$.ajax({
			url:'del',
			data: {d : $(this).attr('id')},
			success:function(){
				dataload();
				chart.unload({
				    ids: [se]
				});
			}
		});
	});
	// $('span').click(function(){
	// 	se=$(this).parent().children().first().text();
	// 	//alert(se)

	// 	$.ajax({
	// 		url:'del',
	// 		data: {d : $(this).attr('id')},
	// 		success:function(){
	// 			dataload();
	// 			chart.unload({
	// 			    ids: [se]
	// 			});
	// 		}
	// 	});

	// });

	$.ajax({
		url:'part',
		success:function(cname){
			for(i in cname){
				dataAr.push(cname[i].name);
			}
			console.log(dataAr);

			for(j=0;j<dataAr.length;j++){
				//console.log(dataAr[j]);
				finds(j);

			}

			

		}
	});


	finds=function(j){

		nnurl='https://www.quandl.com/api/v3/datasets/WIKI/'+dataAr[j]+'.json?&column_index=4&start_date=2017-01-01&end_date=2017-01-12&collapse=daily&api_key=cBJXzebH25YRUyhjwAmr';
				cn=dataAr[j];
				//console.log(j);
				$.ajax({url:nnurl,
					success:function(res){
						nndata=res.dataset.data;
						//console.log(ndata);

						for(var x in nndata){
						
						ffdata.push(nndata[x][1]);
						}
						console.log(dataAr[j]);
						ffdata.push(dataAr[j]);
						ffdata.reverse();
						console.log(ffdata);
						chart.load({
				        columns: [
				            ffdata
				       		 ]
				   		 });

						//console.log(fdata);
						ffdata=[];
						$('#v').val("");
					}
					});

	}


	dataload=function(){
		//console.log("dataaa");

		$.ajax({
			url:'part',
			success:function(ress){
				//console.log(ress);

				for(var i in ress){
					//console.log(ress[i].name)
					ll+="<li id='"+ress[i].id+"' ><span>"+ress[i].name+"</span><button id='"+ress[i].id +"'>Delete</button>"+"</li>";
				}

				$('ul').html(ll);
				ll="";
			}
		});

	};

	var chart = c3.generate({
	bindto: '#chart',
    data: {
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x', '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06', '2017-01-09', '2017-01-10','2017-01-11'],
//            ['x', '20130101', '20130102', '20130103', '20130104', '20130105', '20130106'],
             ['FB', 116.82, 118.69,120.67, 123.41, 124.9, 124.35, 126.09],
            // ['GOOG', 786.13,786.9,794.02,806.15,806.65,804.79,807.91],
            // ['AMZN', 753.29,757.18,780.45,795.99,796.86,795.9,797.02]
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        }
    }
});

// setTimeout(function () {
//     chart.load({
//         columns: [
//             ['Amazon', 753.29,757.18,780.45,795.99,796.86,795.9,797.02]
//         ]
//     });
// }, 1000);


$('#add').click(function(){
		//console.log($('#v').val());
		nurl='https://www.quandl.com/api/v3/datasets/WIKI/'+$('#v').val()+'.json?&column_index=4&start_date=2017-01-01&end_date=2017-01-12&collapse=daily&api_key=cBJXzebH25YRUyhjwAmr';
		$.ajax({url:nurl,
		success:function(res){
			ndata=res.dataset.data;
			//console.log(ndata);

			for(var x in ndata){
			
			fdata.push(ndata[x][1]);
			}
			fdata.push($('#v').val());
			fdata.reverse();

			chart.load({
	        columns: [
	            fdata
	       		 ]
	   		 });

			//console.log(fdata);
			fdata=[];
			$('#v').val("");
		}
		});

		$.ajax({
			url:'save',
			dataType: "json",
        	data: {v : $('#v').val()},
			success:function(){
				 //console.log("data submitted");
				 dataload();
			}
		});

	});


});
	
</script>